header{
    position: relative;
    text-align: center;
}

.gallery{
    padding-left: 30px;
}

.box{
    display: flex;
    float: left;
    width: 25%;
    padding: 10px;
   
   
   
}

img{
    width: 100%;
    border-radius: 0.2rem;
}

img:hover{
    transform: scale(1.1,1.1);
    transition: 0.5s;
}
@media (max-width: 800px){
    .box{
        width: 50%;
        padding: 10px;
    }
}